﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
     <h2>CONTACTENOS</h2>
        <p>Jorge David Antury Jaramillo</p>
        <p>davidantury2893@gmail.com</p>
        <p>318 209 7001</p>
        <p>017 2010 267</p>   
    </div>
</body>
</html>
         